*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-container{
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgb(222, 210, 210);
  position: fixed;
  z-index: 1000;
  top: 0;
}

.search-container{
  background-color: rgb(239, 239, 239);
  border-radius: 8px;
  /* padding: 0px 0px 0px 16px; */
  width: 672px;
  height: 40px;
  flex-direction: row;
  place-content: space-between;
}

.border-search{
  border-color: #76D8FA;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
}

.friends-container, .user-container, .coment-container, .bell-container, .ellipsis-container{
  padding: 4px;
  width: 48px;
  height: 48px;
  flex-direction: column;
  justify-content: center;
}

.friends-container:hover, .user-container:hover, .coment-container:hover, .bell-container:hover, .ellipsis-container:hover{
  background-color: rgb(239, 239, 239);
  border-radius: 25px;
}

.fa-search{
  padding: 4px 4px 4px 8px;
}

.fa-pinterest{
  color: rgb(230, 0, 35);
  font-size: 28px;
  cursor: pointer;
}

.fa-search,.fa-times,.fa-chevron-down,.fa-user-friends, .fa-circle, .fa-comment-dots, .fa-bell, .fa-ellipsis-h{
  color: rgb(142, 142, 142);
  font-size: 20px;
  cursor: pointer;
}

.all-pines{
  text-align: center;
  font-size: 14px;
  flex-flow: row;
  color: rgb(33, 25, 34);
  border-left-style: groove;
  padding: 0px 16px 0px 16px;
}

.fa-chevron-down{
  padding: 0px 0px 0px 8px;
}

.list-nav{
  list-style: none;
  overflow: hidden;
  flex-direction: row;
  display: flex;
  align-items: center;
  width: 98%;
}

.list-nav li{
  flex-direction: column;
  display: flex;
}

.list-nav li div{
  align-items: center;
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
  text-size-adjust: 100%;
}
.list-nav li div button{
  border-style: none;
  background-color: rgb(239, 239, 239);
  flex-direction: column;
  display: flex;
}

.list-nav li div input{
  font-size: 16px;
  width: 387px;
  height: 40px;
  border-style: none;
  background-color: rgb(239, 239, 239);
  display: inline-block;
  color: rgb(51, 51, 51);
  padding: 0px 0px 0px 4px;
}

.input:focus, input[type]:focus {
    outline: 0 none;
}

.fa-times{
  padding: 0px 16px 0px 0px;
}

.center-container{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-container{
  margin-top: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  column-width:210px;
  /* column-count: 6; */
}

img{
  border-radius: 25px;
  /* position: relative; */
  padding: 8px;
  display: block;
  max-width: 100%;
  cursor: zoom-in;
}

.buttom-img{
  border-radius: 25px;
  border-style: none;
  background: white;
  padding: 0px 0px 8px 0px;
  margin: 0px;
  font-size: 12px;
}

.divisor-container{
  font-size: 25px;
  color: rgb(142, 142, 142);
  flex-direction: column;
  display: flex;
  margin: 0px 16px;
}

.logo-container{
  width: 48px;
  height: 48px;
  padding: 4px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-spinner{
  transition: 2s;
  transform: rotate(360deg);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #efefef;
}

.modal-body {
  position: fixed;
  background: white;
  width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.nav-modal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: white;
  position: fixed;
  z-index: 1000;
  top: 0;
  padding: 5px 24px;
  border-radius: 15px;
}

.nav-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
}

.modal-img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15%;
}

.ellipsis-modal{
  padding: 4px;
  width: 48px;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  text-align: center;
}

.ellipsis-modal:hover{
  background-color: rgb(239, 239, 239);
  border-radius: 25px;
}

.nav-upload, .nav-pine{
  display: flex;
  flex-direction: row;
  border-style: none;
  width: 100px;
  height: 40px;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
}

.nav-upload p, .nav-pine p{
  display: contents;
  font-family: -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif
}

.nav-upload:hover{
  background-color: #D7D7D7;
}

.nav-pine:hover{
  background-color: #C50321;
}

.nav-upload:focus, .nav-pine:focus{
  border-color: #76D8FA;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  outline: 0 none;
}

.nav-upload{
  color: rgb(0, 0, 0);
  background-color: #efefef;
}

.nav-pine{
  color: white;
  background-color: rgb(230, 0, 35);
}

.times-modal{
  z-index: 1000;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100px;
}

.times-button{
  border-style: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.times-button i{
  padding: 0px;
}

.content-button{
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  justify-content: center;
}

.content-button:hover{
  background-color: rgb(224, 224, 224);
  border-radius: 25px;
}

.last-button{
  z-index: 1000;
  margin-top: 18%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100px;
}

.plus-modal, .question-modal{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .1), 0 0 0 0.5px rgba(0, 0, 0, .04);
  margin-top: 5px;
  cursor: pointer;
}

.question-modal{
  padding: 5px;
}

.plus-modal:hover, .question-modal:hover{
  background-color: rgb(239, 239, 239);
  border-radius: 25px;
}

@media screen and (min-width: 896px) and (max-width: 1450px){
  .search-container{
    width: 1090px;
  }
  .list-nav li div input {
    width: 850px;
  }
}

@media screen and (min-width: 717px) and (max-width: 1024px){
  .search-container{
    width: 672px;
  }
  .list-nav li div input {
    width: 387px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1366px){
    .search-container{
      width: 980px;
    }
    .list-nav li div input {
      width: 750px;
    }
}